.admin.games
  %h2= 'Add a new game'
  = form_for game, url: admin_games_path, method: :post do |f|
    = f.text_field :name, placeholder: 'Game Title'
    = f.submit 'Save'

  %h2= 'Already in the database'
  - games.each do |game|
    .game= game.name
