.game-title
  %span.collapse.toggle-game
    %span.name {{game.name}}
    %span.icon
      = icon('angle-down')
      = icon('angle-up', '', style: 'display: none')
  %span.reload-game= icon('refresh')
  %span.time-to-load
  %span.updated{ 'ng-show' => 'game.updated' }= icon('download')

.game-cards{ style: 'display:none' }
  .game-items
    .game-item{ 'ng-repeat' => 'item in game.items' }
      = render 'item'
  .game-chart
