.steam-card-tracker
  %h2 Steam Card Tracker
  = form_tag root_path, :method => :get do
    .left-side= select_tag 'games', options_for_select(@games, params[:games]), :multiple => true

    .right-side
      .regular-cards.radio
        = label_tag 'type', 'Regular Cards?'
        = radio_button_tag 'type', 'regular', true
      .foil-cards.radio
        = label_tag 'type', 'Foil Cards?'
        = radio_button_tag 'type', 'foil', params[:type] == 'foil'
      .booster-packs.radio
        = label_tag 'booster', 'Booster Packs?'
        = radio_button_tag 'type', 'booster', params[:type] == 'booster'
      .submit= submit_tag 'Show Items'

  - @game_items.each do |game_name, items|
    %h3= game_name
    - if params[:type] == 'foil'
      - items.select { |item| item.foil? }.each do |item|
        = render 'item', :item => item
    - else
      - items.select { |item| !item.foil? }.each do |item|
        = render 'item', :item => item
