.card-tracker
  %h2 Card Tracker
  = form_tag root_path, :method => :get do
    .games_select= select_tag 'games', options_for_select(@games, params[:games]), :multiple => true, :include_blank => true
    .foil_select
      = label_tag 'foil'
      = check_box_tag 'foil'
    .submit= submit_tag 'Select Games'

  - @game_listings.each do |name, listings|
    %h3= name

    - listings.each do |listing|
      .card-tracker-listing
        = "#{listing.name} - #{listing.min_price}"
