#steam-card-tracker{ 'ng-controller' => 'GamesController' }
  .header
    %span.app-title
      %span.name= "Steam #{link_to 'Card', games_path, class: 'add-game'} Tracker".html_safe
      %input{ 'ng-model' => 'query', class: :search, placeholder: 'Filter games by name' }
      %span.load-all-games= icon('sort-amount-asc')

  .games
    .game{ 'ng-repeat' => 'game in games | filter:query', id: '{{game.id}}' }
      = render 'game'

  .scroll-top
    = icon('angle-double-up')
